[hyoo_http_uri_input] {
	flex: 0 0 auto;
}

[hyoo_http_body] {
	display: flex;
	flex-direction: column;
}

[hyoo_http_data] {
	display: flex;
	flex: auto;
}

[hyoo_http_request] > * ,
[hyoo_http_response] > * {
	margin: .5rem;
}

[hyoo_http_request] {
	flex: 1 1 33%;
	padding: .5rem;
}

[hyoo_http_response] {
	flex: 1 1 66%;
	padding: .5rem;
}

